.header {
  background-color: #000;
  color: #FFD700;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; 
  flex-wrap: nowrap;  
  gap: 1rem;
}

.header-logo,
.header-tania {
  width: 150px;
  height: auto;
  border-radius: 20px;
  object-fit: contain;
}

.header-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.header-title h1 {
  margin: 0.5rem 0;
  font-size: 3rem;
  font-family: "Winky Sans", sans-serif;
}
.header-bottom {
  margin-top: 1rem;
}

.menu-icon {
  font-size: 3rem;
  color: #FFD700;
  cursor: pointer;
}
.menu-toggle {
  background: none;
  border: none;
  color: #FFD700;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.25rem;
}

.nav-menu {
  display: flex;
  flex-direction: ;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.2rem;
  animation: floatIn 0.6s ease forwards;
  opacity: 0;
  transform: translateY(-20px);
  background: transparent;
  position: relative;
  z-index: 10;
}

@keyframes floatIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-menu a {
  color: #FFD700;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.nav-menu a:hover {
  transform: translateY(-4px) scale(1.05);
  background-color: rgba(255, 217, 0, 0.526); 
  color:yellow;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header-top {
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .header-left,
  .header-title,
  .header-right {
    flex: 1 1 auto;
    margin: 0.5rem;
    text-align: center;
  }

  .header-logo,
  .header-tania {
    width: 100px;
  }

  .header-title h1 {
    font-size: 1.6rem;
  }
}

