.legal-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color:black;
    color:  #ffd700;
  }
  
  .legal-content {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.6;
  }
  
  .legal-content h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color:  #ffd700;
  }
  
  .legal-content h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color:  #ffd700;
  }
  .legal-content h3{
    font-size: 1.5rem;
    color:  #ffd700; 
  }
  .legal-content p {
    margin-bottom: 15px;
    font-size: 1rem;
    color:white;
  }
  
  c {
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 1rem;
    color:white;
  }
  .legal-content li{
   color:white;
  }
  
  .legal-content .website {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
    color:#fff200;
  }
  
  .generator-info {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 30px;
    color:#fff200;
  }
    
    @media (max-width: 768px) {
      .legal-container {
        padding: 1rem;
      }
      
      .legal-content {
        padding: 1rem;
      }
      
      .legal-content h1 {
        font-size: 1.5rem;
      }
      
      .legal-content h2 {
        font-size: 1.3rem;
      }
    }